<div class="text-field">
  <%= form.label :image, 'Image Url' %>
  <%= form.text_field :image %>
</div>

<div class="text-field">
  <%= form.label :first_name, 'First Name' %>
  <%= form.text_field :first_name %>
</div>

<div class="text-field">
  <%= form.label :last_name, 'Last Name' %>
  <%= form.text_field :last_name %>
</div>

<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-field">
  <%= form.label :twitter_account, 'Twitter Account' %>
  <%= form.text_field :twitter_account %>
</div>
